<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-gamesdkplugin" version="1.0.0"
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>GameSDKPlugin</name>
  <js-module name="YleGameSDKPlugin" src="www/YleGameSDKPlugin.js">
    <clobbers target="YleGameSDKPlugin" />
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="GameSDKPlugin">
        <param name="ios-package" value="GameSDKPlugin" />
      </feature>
    </config-file>
    <header-file src="src/ios/GameSDKPlugin.h" />
    <source-file src="src/ios/GameSDKPlugin.m" />
  </platform>
</plugin>